# Node 
node_modules
.npmignore
package-lock.json
package.json

# Git
.gitignore

# HJSON files - Prettier does not support these 
*.hjson

# Prettier config 
.prettierrc*

# Sublime text files 
*.sublime-*
